[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "*"
coverage = "*"
yapf = "*"
localstack = "*"
nltk = "*"

[packages]
pynamodb = "*"

[requires]
python_version = "3.8"
